h1 {
	background: #116688;
	color: white;
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 500px;
	background: #667888;
	padding: 20px;
}

textarea {
	width: 100%;
	margin: auto;
	max-width: 490px;
}
