h1 {
	padding: 10px;
	background: #666666;
	text-align: center;
}

button {
	padding: 10px;
	margin: 10px;
	background: gray;
}

.btnplus {
	background: yellow;
	font-size: 10vh;
}

.btnminus {
	background: #555111;
	font-size: 40px;
}
