h1 {
	background: #888333;
}

input {
	margin: 20px;
}

p {
	margin-bottom: 20px;
	margin-left: 10px;
}

label {
	margin: 20px;
	padding: 20px;
}

.itemarea {
	margin-bottom: 20px;
}

textarea {
	margin-left: 10px;
}
