h1 {
	padding: 10px;
	background: blue;
}

button {
	padding: 10px;
	margin: 10px;
	background: gray;
}

h2 {
	background: green;
	text-align: right;
	padding-right: 10px;
}

.divtag {
	background: #012345;
	color: white;
	text-align: center;
}

.btnplus {
	background: yellow;
	font-size: 10vh;
}

.btnminus {
	background: #555111;
	font-size: 40px;
}

label {
	margin: 10px;
}
